
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #33c0af;
  background-image: -moz-linear-gradient(top, #29a294 0%, #33c0af 100%);
  background-image: -ms-linear-gradient(top, #29a294 0%, #33c0af 100%);
  background-image: -o-linear-gradient(top, #29a294 0%, #33c0af 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #29a294), color-stop(1, #33c0af));
  background-image: -webkit-linear-gradient(top, #29a294 0%, #33c0af 100%);
  background-image: linear-gradient(top, #29a294 0%, #33c0af 100%);
}
a {
  color: #28a294;
}
a:hover,
a:focus {
  color: #1bdbc5;
}
a:active {
  color: #41f0db;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #29a294;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
